<div class="container my-3">
  <h2><%= @post.translated(:title) %></h2>
  <p class="text-secondary">
    <%= @post.created_at.to_date.to_formatted_s(:long) %>
    -
    <%= link_to 'edit', edit_post_path(@post) %>
  </p>
  <hr />
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <%= markdown(@post.translated(:text)) %>
    </div>
  </div>
</div>
