<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Crowdin Webhooks Test", root_path, class: "navbar-brand" %>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <%= link_to 'All Posts', posts_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'New Post', new_post_path, class: "nav-link" %>
    </li>
  </ul>
</nav>
